*.o
*.depends
*.a
src/apps/appex/appex
src/apps/dggrid/dggrid
inst/doc
..Rcheck
src/lib/shapelib-1.3.0/dbfadd
src/lib/shapelib-1.3.0/dbfcreate
src/lib/shapelib-1.3.0/dbfdump
src/lib/shapelib-1.3.0/shpadd
src/lib/shapelib-1.3.0/shpcreate
src/lib/shapelib-1.3.0/shpdump
src/lib/shapelib-1.3.0/shprewind
src/lib/shapelib-1.3.0/shptest
src/lib/shapelib-1.3.0/shptreedump
*.tar.gz
vignettes/*.html
wintest
dggridR.Rcheck/
mailinglist
LICENSE
*.so
doc
Meta
build/
.vscode/
CRAN-SUBMISSION
cran-comments.md

